
<div class="tg-navigationarea">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <nav id="tg-nav" class="tg-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                </div>

                                <div id="tg-navigation" class="collapse navbar-collapse tg-navigation">
                                    <ul>

                                        <li>
                                            <a href="@Url.Action("Index","Home")">Trang Chủ</a>
                                        </li>
                                        <!--<li class="menu-item-has-children">
        <a href="javascript:void(0);">Authors</a>
        <ul class="sub-menu">
            <li><a href="authors.html">Authors</a></li>
            <li><a href="authordetail.html">Author Detail</a></li>
        </ul>
    </li>-->
                                        <li><a href="@Url.Action("Index","Book",new {page = 1}) ">Sách</a></li>
                                        <li><a href="@Url.Action("SachChuDe","Book", new { maCD = "SKD"})">Tài chính</a></li>
                                        <li><a href="@Url.Action("SachChuDe","Book", new { maCD = "SGK"})">Học Sinh</a></li>
                                        <li><a href="@Url.Action("TinTuc","Book")" >Tin Tức</a></li>
                                        <li class="menu-item-has-children">
                                            <a href="javascript:void(0);">Latest News</a>
                                            <ul class="sub-menu">
                                                <li><a href="newslist.html">News List</a></li>
                                                <li><a href="newsgrid.html">News Grid</a></li>
                                                <li><a href="newsdetail.html">News Detail</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contactus.html">Contact</a></li>
                                        <li class="menu-item-has-children current-menu-item">
                                            <a href="javascript:void(0);"><i class="icon-menu"></i></a>
                                            <ul class="sub-menu">
                                                <li class="menu-item-has-children">
                                                    <a href="aboutus.html">Products</a>
                                                    <ul class="sub-menu">
                                                        <li><a href="products.html">Products</a></li>
                                                        <li><a href="productdetail.html">Product Detail</a></li>
                                                    </ul>
                                                </li>
                                                <li><a href="aboutus.html">About Us</a></li>
                                                <li><a href="404error.html">404 Error</a></li>
                                                <li><a href="comingsoon.html">Coming Soon</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>